.deliveryMap_module {
  color: #ffffff;
  padding-left: 64px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  gap: 20px;

  h2 {
    padding: 30px 0;
  }

  &_time {
    display: flex;
    height: 20px;
    &_par {
      text-decoration: underline;
    }
  }
  &_time:before {
    content: '⭐';
    width: 32px;
    height: 32px;
  }

  &__link {
    color: #c31b30;
    display: flex;
    position: relative;
    width: 437px;
  }

  &__link:after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: url("../../images/icons8-32.png");
    height: 23px;
  }
}

.deliveryMap_module__order {
  display: flex;
  flex-direction: row;
  align-items: center;

  &_block {
    width: 350px;
    margin-right: 20px;
  }

  &_txt {
    padding: 23px 0 23px 0;
    width:64%;
  }

  &_txt2 {
    color: #5c6165;
  }
}
  .deliveryMap_module__delivery {
    display: flex;
    flex-wrap: wrap;

  }
