.SectionMenu {
  background: #2b2d2f;
  margin: 0;
  padding: 0;
  width: 276px;
  height: 64px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #888;

  p {
    margin-left: 10px;
    color: white;
    cursor: pointer;
  }

  img {
    width: 100px;
    height: 62px;
    object-fit: contain;
  }
}
