.Slider_module {
  width: 100%;
  height: calc(100vh - 64px);

  &_img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.7);
    background-position: 50% 50%;
  }

  &_link {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 36px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 200ms ease;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 2.8px;
    text-shadow: 1px 1px 2px #000;
  }

  &_link:hover {
    color: #adadad;
  }
}
