.splide__pagination--ttb {
    right: 2em!important;
}
.splide__pagination__page {
    border: 1px solid #ffffff!important;
    /*background: none!important;*/
    height: 5px!important;
    width: 5px!important;
}
.splide__pagination__page:hover {
    border: 1px solid #ffffff!important;
    transform: scale(3.6)!important;
}

.splide__pagination__page.is-active {
    background: #ffffff!important;
    transform: scale(3.6)!important;
}

.splide__pagination li {
    line-height: 9!important;
}